<header class="site-header">
  <div class="container">
    {{- if .Site.Params.siteLogo }}
    <div class="site-logo">{{ .Site.Params.siteLogo | safeHTML }}</div>
    {{- else }}
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{- end }}

    {{- if .Site.Menus.main }}
    <nav class="nav" role="navigation" aria-label="main navigation">
      {{- range .Site.Menus.main }}
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{- end }}
    </nav>
    {{- end }}
  </div>
</header>
